<div class="control-section">

  <div class="toolbar-menu-control">

    <div id="menu">
      <ejs-menu [items]="menuItems" (select)='select($event)' showItemOnClick="true"></ejs-menu>
    </div>

    <ejs-toolbar>
        <e-items>
          <e-item template='#menu'></e-item>
          <e-item type='Separator'></e-item>

          <e-item prefixIcon="play" [cssClass]="Speed==1 ? 'active' : ''" (click)="Speed=1"></e-item>
          <e-item prefixIcon="slow" [cssClass]="Speed==2 ? 'active' : ''" (click)="Speed=2"></e-item>
          <e-item prefixIcon="fast" [cssClass]="Speed==3 ? 'active' : ''" (click)="Speed=3"></e-item>
          <e-item prefixIcon="pause" [cssClass]="Speed==0 ? 'active' : ''" (click)="Speed=0"></e-item>

        </e-items>
    </ejs-toolbar>
  </div>

  <input id="inputValue" type="file" style="display:none" (change)="onFileUpload($event)" accept=".pkt, .pka" />
</div>
