<div id="defaultSample" class="control-section">
  <div class="menu-control">
      <ejs-menu [items]='menuItems' (select)='select($event)' showItemOnClick="true">
      </ejs-menu>

      Speed: {{SpeedString }}
      {{Time}}

      <ng-container *ngFor="let speed of [0, 1, 2, 3]">
        <input name="speed" type="radio" value="{{speed}}" (click)="Speed = speed" [checked]="Speed==speed"/>
      </ng-container>
  </div>

  <input id="inputValue" type="file" style="display:none" (change)="onFileUpload($event)" accept=".pkt, .pka" />
</div>
