<ejs-tab id="tab_config" #tab_config class="e-fill" headerPlacement="Left" headerStyle="Fill" *ngIf="node!==null">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerTemplate>Setting</ng-template>
      <ng-template #content>
        <div class="e-input-group">
          <ejs-textbox
            placeholder="The name of the router"
            floatLabelType="Auto"
            [(value)]="node.name"
          >
        </ejs-textbox>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem *ngFor="let item of node.getInterfaces(); let idx=index">
      <ng-template #headerTemplate>{{item}}</ng-template>
      <ng-template #content>
        <ng-container *ngIf="node.getInterface(item) as iface">

          <div class="e-input-group">
            <ng-container>
              <label for="check">
                Interface:
                <span *ngIf="iface.isActive()">ON&nbsp;&nbsp;</span>
                <span *ngIf="!iface.isActive()">OFF</span>
              </label>

              <ejs-switch
                id="check"
                [checked]="iface.isActive()"
                (change)="$event.checked ? iface.up() : iface.down()"
              >
              </ejs-switch>
            </ng-container>

            <ng-container *ngIf="hasDHCP(iface)">
              <label for="dhcp">
                DHCP:
                <span *ngIf="getDhcp(iface)">ON&nbsp;&nbsp;</span>
                <span *ngIf="!getDhcp(iface)">OFF</span>
              </label>

              <ejs-switch
                id="dhcp"
                [checked]="getDhcp(iface)"
                (change)="setDhcp(iface, $event)"
              >
              </ejs-switch>
            </ng-container>
          </div>

          <div class="e-input-group">
            <ejs-radiobutton *ngFor="let speed of [1000, 100, 10, 0]"
              [name]="'speed_' + idx"
              [label]="speed === 0 ? 'Auto' : speed + 'mbps'"
              [value]="speed"
              [checked]="iface.Speed===speed"
              [disabled]="!iface.isConnected && speed!==0"
              (change)="setSpeed(iface, $event)"
            ></ejs-radiobutton>
          </div>

          <div class="e-input-group">
            <ejs-textbox
              *ngIf="$any(iface).getMacAddress"
              placeholder="The MAC address"
              floatLabelType="Auto"
              class="e-input"
              [value]="$any(iface).getMacAddress().toString()"
              (change)="setMacAddress($any(iface), $event)"
            >
            </ejs-textbox>
          </div>
          <div class="e-input-group">

            <ejs-textbox
              *ngIf="$any(iface).getNetAddress"
              placeholder="The NET address"
              floatLabelType="Auto"
              class="e-input"
              [value]="$any(iface).getNetAddress().toString()"
              (change)="setNetAddress($any(iface), $event)"
              [enabled]="!(hasDHCP(iface) && getDhcp(iface))"
            >
            </ejs-textbox>
            <ejs-textbox
              *ngIf="$any(iface).getNetMask"
              placeholder="The subnet mask"
              floatLabelType="Auto"
              class="e-input"
              [value]="$any(iface).getNetMask().toString()"
              (change)="setNetMask($any(iface), $event)"
              [enabled]="!(hasDHCP(iface) && getDhcp(iface))"
            >
            </ejs-textbox>
          </div>
        </ng-container>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
